.navbar {
  width: 100vw;
  height: 13vh;
  background-color: #09090abf;
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h2 {
  font-family: 'Franklin Gothic Demi Cond', sans-serif;
  font-weight: 400;
  font-size: calc(24px + 1.3vw);
  margin-left: 3vw;
}

.navbar-left {
  display: flex;
}

.navbar h3 {
  margin: 0 25px 0 5px;
}

.navbar a {
  color: aliceblue;
}