body {
  margin: 0px;
  padding: 0px;
  background-image: url('https://cdn.discordapp.com/attachments/1061772892070748190/1061786876756889620/Fondo2.png');
  background-color: #f5f5f5;
  background-position: center center; /* Center the image */
  background-attachment: fixed;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

a:link, a:visited {
  text-decoration: none;
}